az webapp config appsettings set --resource-group learnsteer_group --name sme-api-backend --settings \
NODE_ENV=production \
PORT=3001 \
WEBSOCKET_PORT=3002 \
JWT_SECRET="53d9c603e87fd9ecede3031910947ca8" \
GOOGLE_SERVICE_ACCOUNT_KEY=./utopian-pride-467901-a2-d81676b2f937.json \
SHEET_ID="1ST-AP7QZFpAveumJWh35NdMWD-jlwQyM49CLsgk1QSE" \
SHEET_ID_AMPARA="1EKmXA3us1Qwrvy2so6MwaJr2rkU9cZGtDV9HncGlv2Q" \
SHEET_ID_CO_TEAM="1VI2g_TSQ5KIOGvl-ft3WJKhCdGdiQ9FiHxRbAUwbpdA" \
SHEET_ID_TO_WRITE="1xmYQPDmxN1zgyLC3yN_9dVEN8R__Bavn8vLaILbb--0" \
ADMIN_SHEET_ID="1cYQkOQL1MzcpebNkmJDtFuxOadxUy5_xO0BRdVPBHcU" \
MONGODB_URI="mongodb+srv://almockexamsasnaka:xnubzJ3IXEkdIAf0@smecluster.qwowsae.mongodb.net/?retryWrites=true&w=majority&appName=SMECluster" \
MONGODB_DB=sme25 \
MONGODB_COLLECTION=sme25registrations \
ADMIN_MONGODB_COLLECTION=sme25adminpanel \
EXAMS_MONGO_COLLECTION=sme25exams \
MYSME_MONGO_COLLECTION=sme25mysmeusers \
INVENTORY_MONGODB_COLLECTION=sme25_inventory \
ADMIN_SESSION_MONGODB_COLLECTION=sme25_active_admin_sessions \
NEW_RELIC_AI_MONITORING_ENABLED=true \
NEW_RELIC_CUSTOM_INSIGHTS_EVENTS_MAX_SAMPLES_STORED=100k \
NEW_RELIC_SPAN_EVENTS_MAX_SAMPLES_STORED=10k \
NEW_RELIC_APP_NAME=sme-api \
NEW_RELIC_LICENSE_KEY=007f3858d2eb4242f2709ff81c6f3509FFFFNRAL \
TWILIO_ACCOUNT_SID=AC6bbdd05436219bad105af42b4026828d \
TWILIO_AUTH_TOKEN=d9ebe9e71c0759ac4b0244a879e2a5a2 \
TWILIO_WHATSAPP_NUMBER="whatsapp:+17856558970" \
MAX_WHATSAPP_SENDS=1

https://smesasnaka@sme-api-backend.scm.azurewebsites.net/sme-api-backend.git  "R%688827895114uh"

az webapp deployment user set --user-name sme@sasnaka --password R%688827895114uh
